In [56]:
# Importing relevant libraries
import numpy as np 
import pandas as pd
from pydataset import data
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [57]:
#get the data
CHD = pd.read_csv('C:/Users/sivam/OneDrive/Projects/Logistic Regression/CHD/HeartDisease.csv')
CHD.describe()

,male,age,currentSmoker,cigsPerDay,prevalentStroke,diabetes,Total.Cholestral.level,BMI,heartRate,glucose,CHD
count,691.000000,691.000000,691.000000,691.00000,691.000000,691.000000,691.000000,691.000000,691.000000,691.000000,691.000000
mean,0.439942,49.465991,0.496382,9.15919,0.007236,0.027496,235.327062,25.586918,75.843705,81.963821,0.150507
std,0.496740,8.967247,0.500349,11.76894,0.084817,0.163643,43.481632,3.748676,11.706503,24.121134,0.357826
min,0.000000,33.000000,0.000000,0.00000,0.000000,0.000000,113.000000,16.480000,46.000000,48.000000,0.000000
25%,0.000000,42.000000,0.000000,0.00000,0.000000,0.000000,205.000000,23.095000,68.000000,72.000000,0.000000
50%,0.000000,49.000000,0.000000,0.00000,0.000000,0.000000,232.000000,25.130000,75.000000,78.000000,0.000000
75%,1.000000,57.000000,1.000000,20.00000,0.000000,0.000000,262.000000,27.705000,82.000000,87.000000,0.000000
max,1.000000,68.000000,1.000000,60.00000,1.000000,1.000000,432.000000,42.000000,125.000000,370.000000,1.000000

In [74]:
# test train split
y = CHD['CHD']
x = CHD.drop( ['CHD'],  axis = 1)
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.2, random_state = 0)

In [75]:
#build the model using training data
logreg = LogisticRegression()
logreg.fit(x_train, y_train)

LogisticRegression()

In [76]:
y_test_pred = logreg.predict(x_test)

In [77]:
cm = pd.DataFrame(confusion_matrix(y_test, y_test_pred))
cm.columns = ['Predicted 0', 'Predicted 1']
cm = cm.rename(index = {0:'Actual 0', 1:'Actual 1'})
cm

          Predicted 0  Predicted 1
Actual 0          121            1
Actual 1           17            0

In [78]:
accuracy_score(y_test, y_test_pred)

0.8705035971223022